# Default dir
PACKAGES_BASE_DIR="packages"

# download sources
EMU68_RELEASE_URL="https://github.com/michalsc/Emu68/releases/latest/download/Emu68-pistorm32lite.zip"
HST_IMAGER_REPO="henrikstengaard/hst-imager"

# Temporary dirs
TMP_SETUP_DIR="/tmp/emu68bootstrap/pistorm_setup"
TMP_PACKAGE_DIR="/tmp/emu68bootstrap/amiga_packages"
TMP_DOWNLOAD_DIR="/tmp/emu68bootstrap/amiga_downloads"
TMP_EXTRACT_DIR="/tmp/emu68bootstrap/amiga_extract"
STAGING_ROOT="/tmp/emu68bootstrap/amiga_staging"

# emu68 partition will be mounted here during install
MOUNT_POINT="/mnt/emu68_boot"

# should not be modified
HST_BIN="$(pwd)/contribs/hst.imager"
