###########################################
# drive's root partitions
###########################################
mbr init "[PATH_TO_DISK]"
mbr part add "[PATH_TO_DISK]" 0xb 100mb --start-sector 2048 
mbr part format "[PATH_TO_DISK]" 1 EMU68
mbr part add "[PATH_TO_DISK]" 0x76 *


###########################################
# amiga partitions inside MBR 2nb partition
###########################################
# create amiga RDB and inject the filesstem (PFS3, DOS3 or FFS)
rdb init "[PATH_TO_DISK]/mbr/2"
rdb fs add "[PATH_TO_DISK]/mbr/2" "pfs3aio" PFS3

# create amiga partitions
rdb part add "[PATH_TO_DISK]/mbr/2" SDH0 PFS3 256mb  --bootable True  --boot-priority  1 --buffers 300 --max-transfer 0xffffff --mask 0x7ffffffe
rdb part add "[PATH_TO_DISK]/mbr/2" SDH1 PFS3 2048mb --bootable False --boot-priority 99 --buffers 300 --max-transfer 0xffffff --mask 0x7ffffffe
rdb part add "[PATH_TO_DISK]/mbr/2" SDH3 PFS3 4096mb --bootable False --boot-priority 99 --buffers 400 --max-transfer 0xffffff --mask 0x7ffffffe
rdb part add "[PATH_TO_DISK]/mbr/2" MAC0 PFS3 1024mb --bootable False --boot-priority 99 --buffers 200 --max-transfer 0xffffff --mask 0x7ffffffe --no-mount True
rdb part add "[PATH_TO_DISK]/mbr/2" SDH4 PFS3 *      --bootable False --boot-priority 99 --buffers 500 --max-transfer 0xffffff --mask 0x7ffffffe

# format and label partitions
rdb part format "[PATH_TO_DISK]/mbr/2" 1 Workbench
rdb part format "[PATH_TO_DISK]/mbr/2" 2 Apps
rdb part format "[PATH_TO_DISK]/mbr/2" 3 Games
rdb part format "[PATH_TO_DISK]/mbr/2" 5 Data